// https://flatuicolors.com/palette/ca
$dark: #262626;
$semidark: #323232;
$darkerish: lighten($semidark, 10%);
$darkish: lighten($semidark, 20%);
$light: #A9A9A9;
$blue: #54a0ff;
$orange: #ff9f43;

* {
  box-sizing: border-box;
}

body, input, button, textarea {
  font: 10pt Lato, sans-serif;
}

body {
  background: #000;
  color: $light;
  margin: 0;
  height: 100vh;
}

#wrapper {
  display: flex;
  height: 100vh;
}

#config {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: $dark;
  border-right: 3px ridge $semidark;
}

#hierarchy {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

#props {
  flex: 3;
  background: $semidark;
  border: 1px outset $darkish;
  border-left: 0;
  table {
    width: 100%;
    tr.group-separator th {
      text-align: left;
      border-bottom: 1px solid #333;
    }
    tr.variable-config-row th {
      text-align: right;
    }
    input {
      width: 100%;
      background: transparent;
      border: 1px inset $semidark;
      padding: 4px;
      color: $light;
      &:focus {
        outline-color: $blue;
      }
      &[type=color] {
        padding: 0;
        border: 0;
        min-width: 2em;
      }
    }
  }
}

#drawing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    outline: 5px solid #e17055;
    background: #fff;
  }
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  border: 1px outset $darkish;
  padding: 4px;
  background: #2d3436;
  color: #fff;
}

.dropdown--active {
  .dropdown__content {
    display: block;
  }
  .dropdown__trigger {
    background: $blue !important;
  }
}

.btn {
  display: inline-block;
  border-right: 1px solid $darkerish;
  padding: 4px;
  user-select: none;
  margin-right: 2px;
  color: #fff;
  cursor: pointer;
  background: transparent;

  svg {
    width: 20px;
    height: 20px;
  }

  svg path {
    fill: white;
  }

  &.active svg path {
    fill: $orange;
  }

  &.standalone {
    border: 1px outset $darkerish;
  }

}

.toolbar {
  background: $semidark;
}

.dropdown--disabled .btn, .btn.disabled {
  opacity: 0.3;
  cursor: default !important;
}

.node-select a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
  &:hover {
    background: $blue;
    color: #fff;
  }
}

#tree {
  flex: 1;
  padding: 2px;
  li {
    padding: 0;
    margin: 0;
  }
  li a {
    padding: 2px;
    text-wrap: none;
    white-space: nowrap;
    display: block;
    margin: 0;
  }
  li.selected > a {
    background: $blue;
    color: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      margin: 1px;
      margin-left: .5em;
      border-left: 1px dotted #2d3436;
      padding-left: .5em;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

ul.errors {
  color: red;
  max-height: 200px;
  overflow-y: auto;
}

#file-panel {
  padding: 4px;
}

textarea {
  width: 100%;
  background: transparent;
  border: 1px inset $darkerish;
  height: 200px;
  color: $light;
}
